.container {
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: teal;
  flex-direction: column;
}

.container p {
  font-size: 36px;
  color: aliceblue;
}
